.mobile-menu-toggle{
    position: absolute;
    top: 1.125rem;
    right: 2.5rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    @media #{$large-and-up}{
        display: none;
    }
    &.active{
        .hamburger-box{
            .hamburger-inner{
                transition-delay: .2s;
                transition-timing-function: cubic-bezier(.215,.61,.355,1);
                transform: rotate(45deg);
                &::before{
                    top: 0;
                    transition: top 0.1s ease,opacity 0.1s ease .2s;
                    opacity: 0;
                }
                &::after{
                    bottom: 0;
                    transition: bottom 0.1s ease, transform 0.1s cubic-bezier(.215,.61,.355,1) .2s;
                    transform: rotate(-90deg);
                }
            }
        }
        + .navigation-drawer{
            transform: translateX(0)
        }
    }
    .hamburger-box{
        position: relative;
        display: inline-block;
        width: 2.5rem;
        height: 2.5rem;
        .hamburger-inner{
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            width: 100%;
            height: 0.25rem;
            transition: transform 0.1s cubic-bezier(.55,.055,.675,.19);
            background-color: $primary-color;
            margin-top: -2px;
            &::before, &::after{
                display: block;
                content: "";
                position: absolute;
                width: 100%;
                height: 0.25rem;
                transition: transform .2s ease;
                border-radius: 4px;
                background-color: $primary-color;
            }
            &::before{
                top: -0.75rem;
                transition: top 0.1s ease .2s,opacity 0.1s ease;
            }
            &::after{
                bottom: -0.75rem;
                transition: bottom 0.1s ease .2s,transform 0.1s cubic-bezier(.55,.055,.675,.19);
            }
        }
    }
}
